.button {
  background-position: 4px;
  background-repeat: no-repeat;
  background-size: 18px;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 3% auto;
  padding: 4px 4px 4px 32px;
}

.button:hover {
  background-color: #0275d8;
  color: white;
}


.button.ar {
  background-image: url("../icons/flags/ar.svg");
}

.button.bg {
  background-image: url("../icons/flags/bg.svg");
}

.button.ca {
  background-image: url("../icons/flags/ca.svg");
}

.button.zh {
  background-image: url("../icons/flags/zh.svg");
}

.button.hr {
  background-image: url("../icons/flags/hr.svg");
}

.button.cs {
  background-image: url("../icons/flags/cs.svg");
}

.button.da {
  background-image: url("../icons/flags/da.svg");
}

.button.nl {
  background-image: url("../icons/flags/nl.svg");
}

.button.en {
  background-image: url("../icons/flags/en.svg");
}

.button.fr {
  background-image: url("../icons/flags/fr.svg");
}

.button.de {
  background-image: url("../icons/flags/de.svg");
}

.button.el {
  background-image: url("../icons/flags/el.svg");
}

.button.he {
  background-image: url("../icons/flags/he.svg");
}

.button.hi {
  background-image: url("../icons/flags/hi.svg");
}

.button.hu {
  background-image: url("../icons/flags/hu.svg");
}

.button.it {
  background-image: url("../icons/flags/it.svg");
}

.button.ja {
  background-image: url("../icons/flags/ja.svg");
}

.button.ko {
  background-image: url("../icons/flags/ko.svg");
}

.button.no {
  background-image: url("../icons/flags/no.svg");
}

.button.pl {
  background-image: url("../icons/flags/pl.svg");
}

.button.pt {
  background-image: url("../icons/flags/pt.svg");
}

.button.ro {
  background-image: url("../icons/flags/ro.svg");
}

.button.ru {
  background-image: url("../icons/flags/ru.svg");
}

.button.sk {
  background-image: url("../icons/flags/sk.svg");
}

.button.sl {
  background-image: url("../icons/flags/sl.svg");
}

.button.es {
  background-image: url("../icons/flags/es.svg");
}

.button.sv {
  background-image: url("../icons/flags/sv.svg");
}

.button.tr {
  background-image: url("../icons/flags/tr.svg");
}

.button.vi {
  background-image: url("../icons/flags/vi.svg");
}
