html, body {
  width: 150px;
}

.button {
  border-radius: 3px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 3% auto;
  padding: 8px 8px 8px 32px;
  cursor: pointer;
}

.button.en {
  background: #f0f0f0 url("../icons/flags/en.svg");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 18px;
}

.button.fr {
  background: #f0f0f0 url("../icons/flags/fr.svg");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 18px;
}

.button.de {
  background: #f0f0f0 url("../icons/flags/de.svg");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 18px;
}

.button.es {
  background: #f0f0f0 url("../icons/flags/es.svg");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 18px;
}

.button.it {
  background: #f0f0f0 url("../icons/flags/it.svg");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 18px;
}

.button.pt {
  background: #f0f0f0 url("../icons/flags/pt.svg");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 18px;
}
